* {
  color: #333;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.images {
  width: 250px;
  height: 180px;
  /* width: 75%;
  height: 50%; */
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  background: url(../img/loading.gif) 50% no-repeat;
}

.search-header {
  margin: 25px auto;
  text-align: center;
}
#search-item {
  border: 1px solid #d3d3d3;
  font-size: 16px;
  border-right: none;
  padding: 10px;
  outline: none;
  width: 250px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#submit {
  border: 1px solid #d3d3d3;
  font-size: 16px;

  padding: 10px;
  background: #00b5c3;
  font-weight: bold;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#submit:hover {
  color: white;
  font-weight: bold;
}
.search-images {
  width: 69%;
  float: left;
  /* background-color: #d3d3d3; */
  margin: 2px;
}

.search-images a {
  text-align: center;
}
.search-results {
  width: 29%;
  float: left;
  /* background-color: red; */
  /* background-color: #d3d3d3; */
  margin: 2px;
  border-radius: 10px;
}
.results {
  width: 100%;
}
.search-images a {
  float: left;
  width: 33.33%;
  padding: 2px;
}
ul {
  list-style-type: none;
  border: 1px solid #d3d3d3;
  padding: 10px;
  margin-bottom: 10px;
}
li {
  padding: 2px;
  margin-bottom: 5px;
}

.search-results a {
  text-decoration: none;
}

.search-results a:link,
.search-results a:visited {
  text-decoration: none;
  /* color: black; */
  margin-bottom: 1px;
}

.search-results a:hover,
.search-results a:active {
  background-color: #e2dfdf;
  color: purple;
}

.pagination {
  width: 100%;
  text-align: center;
  visibility: hidden;
}
.pagination a {
  color: #000000;
  float: center;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 10px;
}
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
